<div class="main-content">
    <form novalidate name="loginForm" class="form-signin login-form" role="form" method="post">
        <h3 class="form-signin-heading">Please sign in.</h3>
        <input type="text" class="form-control" placeholder="Username" required autofocus name="inputUsername" ng-model="user.username">
        <input type="password" class="form-control" placeholder="Password" required name="inputPassword" ng-model="user.password">
        <button class="btn btn-lg btn-primary btn-block submit-btn" type="submit" ng-click="setLogin(user)">Sign in</button>
        <div ng-show="loginForm.$submitted || loginForm.inputUsername.$touched">
            <span ng-show="loginForm.inputUsername.$error.required">Please enter a username.</span>
            <span ng-show="loginForm.inputUsername.$error.text">This is not a valid username.</span>
        </div>
        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
            <span ng-show="loginForm.inputPassword.$error.required">Please enter a password.</span>
            <span ng-show="loginForm.inputPassword.$error.password">This is not a valid password.</span>
        </div>
    </form>
</div>