<div ng-controller="viewModelsController" class="main-content">
    <p class="lead">View Models</p>
    <table ng-table class="table table-hover">
        <thead>
        <tr>
            <td><b>#</b></td>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in pangu" ng-click="setSelected(x)">
            <td>{{x.id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.description}}</td>
            <td><span class="glyphicon glyphicon-chevron-right pull-right glyph"></span></td>
        </tr>
        <p ng-hide="pangu.length">There are no models.</p>
        </tbody>
    </table>
</div>