<div ng-controller="viewOneCtrl" class="container">
    <form>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" value="{{pangu.id}}">
        </div>
        <div class="form-group">
            <label for="inputDiscoveredBy">Discovered By</label>
            <input type="text" class="form-control" id="inputDiscoveredBy" value="{{pangu.discoveredBy}}">
        </div>
        <div class="form-group">
            <label for="inputDiscoveryDate">Discovery Date</label>
            <input type="text" class="form-control" id="inputDiscoveryDate" value="{{pangu.discoveryDate}}">
        </div>
        <div class="form-group">
            <label for="inputSize">Size</label>
            <input type="text" class="form-control" id="inputSize" value="{{pangu.size}}">
        </div>
        <div class="form-group">
            <label for="inputApproximateMass">Approximate Mass</label>
            <input type="text" class="form-control" id="inputApproximateMass" value="{{pangu.approximateMass}}">
        </div>
        <div class="form-group">
            <label for="inputOrbitalPeriod">Orbital Period</label>
            <input type="text" class="form-control" id="inputOrbitalPeriod" value="{{pangu.orbitalPeriod}}">
        </div>
        <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea type="text" class="form-control" id="inputDescription" rows="3"
                      value="{{pangu.description}}"></textarea>
        </div>
        <div class="form-group">
            <label for="inputComments">Interesting Facts</label>
            <textarea type="text" class="form-control" id="inputComments" rows="3"
                      value="{{pangu.comments}}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
</div>