$icon-font-path: '../../../app/components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import 'app/components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'mixin';

//Global Variables
$default-margin-bottom: 25px;

.glyph {
  margin-top:2px;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 60px;
}
.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}
.container {
  max-width: 680px;
  padding: 0px 15px;
  width: auto;
}
.container .text-muted {
  margin: 20px 0px;
}
.main-content {
  margin-bottom: 20px;
}